.bookmarks .modal__content {
  max-height: 550px;
  overflow-y: auto;
  scrollbar-color: #1d1e20 #111214;
}

.bookmarks__heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: #ddd;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.bookmarks__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bookmarks__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1e20;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.bookmarks__item-image {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.bookmarks__item-title {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.1rem;
}

.delete-btn {
  font-size: 2.4rem;
  color: #b88efc;
  cursor: pointer;
}
